<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>My Dating Website</title>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar bg-light navbar-light">
    <p>My Dating Website</p>
</nav>

<div class="container-fluid">

    <!-- Page header -->
    <h1 class="mt-4">Membership</h1>

    <hr>

    <ol>
        <repeat group="{{ @members }}" value="{{ @member }}">
            <li><a href="#">{{ @member['lname'] }}, {{ @member['fname'] }}</a></li>
        </repeat>

        <!-- {{ @BASE }}/summary/{{ @student['sid'] }}-->
    </ol>







</div>

</body>
</html>