<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>My Dating Website</title>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar bg-light navbar-light">
    <p>My Dating Website</p>
</nav>

<div class="container-fluid">

    <!-- Page header -->
    <h1 class="mt-4">Membership</h1>

    <hr>

    <table class="mt-4">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Email</th>
            <th>State</th>
            <th>Gender</th>
            <th>Seeking</th>
            <th>Premium</th>
            <th>Interests</th>
        </tr>

        <ol>
            <repeat group="{{ @members }}" value="{{ @member }}">
                <tr>
                    <td>{{ @member['member_id'] }}</td>
                    <td><a href="#">{{ @member['fname'] }} {{ @member['lname'] }}</a></td>
                    <td>{{ @member['age'] }}</td>
                    <td>{{ @member['phone'] }}</td>
                    <td>{{ @member['email'] }}</td>
                    <td>{{ @member['state'] }}</td>
                    <td>{{ @member['gender'] }}</td>
                    <td>{{ @member['seeking'] }}</td>
                    <td>{{ @member['premium'] }}</td>
                    <td>{{ @member['interests'] }}</td>
                </tr>
            </repeat>
        </ol>

    </table>









</div>

</body>
</html>