<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>My Interests</title>
</head>
<body>

<nav class="navbar bg-light navbar-light">
    <p>My Dating Website</p>
</nav>

<div class="container">

    <h1 class="mt-4">Interests</h1>

    <hr>

    <form action="#" method="post">

    <div class="row">

        <div class="col-1"></div>

        <div class="col-10">
            <label class="font-weight-bold mb-3">Indoor Interests</label><br>
            <div class="form-check form-check-inline flex-wrap">
                <repeat group="{{ @indoor }}" value="{{ @activity }}">
                    <div class="col-3">
                        <input class="form-check-input checkbox-inline" type="checkbox" value="{{ @activity }}" name="indoor[]">
                        <label class="form-check-label mr-3">{{ @activity }}</label>
                    </div>
                </repeat>
            </div><br><br>
            <check if="{{ isset(@errors['indoor']) }}">
                <p>{{ @errors['indoor']}}</p>
            </check>
        </div>

    </div>

    <div class="row">

        <div class="col-1"></div>

        <div class="col-10">
            <label class="font-weight-bold">Outdoor Interests</label><br>
            <div class="form-check form-check-inline flex-wrap">
                <repeat group="{{ @outdoor }}" value="{{ @activity }}">
                    <div class="col-3">
                        <input class="form-check-input" type="checkbox" value="{{ @activity }}" name="outdoor[]">
                        <label class="form-check-label mr-3">{{ @activity }}</label>
                    </div>
                </repeat>
            </div><br><br>
            <check if="{{ isset(@errors['outdoor']) }}">
                <p>{{ @errors['outdoor']}}</p>
            </check>
        </div>

    </div>

    <div class="row">
        <div class="col-11">
            <button class="btn btn-primary float-right mb-4" name="submit">Next ></button>
        </div>
    </div>

    </form>

</div>

</body>
</html>