<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Interests</title>
</head>
<body>

<h1>Interests</h1>

<hr>

<form action="summary" method="post">

    <legend>Indoor Interests</legend>
    <label>
        <repeat group="{{ @indoor }}" value="{{ @activity }}">
            <br><input type="checkbox" value="{{ @activity }}"
                   name="interests[]"> {{ @activity }}
        </repeat>

    </label>

    <br><br>

    <legend>Outdoor Interests</legend>
    <label>
        <repeat group="{{ @outdoor }}" value="{{ @activity }}">
            <br><input type="checkbox" value="{{ @activity }}"
                       name="interests[]"> {{ @activity }}
        </repeat>
    </label><br><br>

    <button>Next</button>
</form>




</body>
</html>