<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>My Interests</title>
</head>
<body>

<nav class="navbar bg-light navbar-light">
    <p>My Dating Website</p>
</nav>

<h1 class="mt-4">Interests</h1>

<hr>

<form action="#" method="post">

    <legend>Indoor Interests</legend>
    <label>
        <repeat group="{{ @indoor }}" value="{{ @activity }}">

            <!--<check if="{{ isset(@SESSION['indoor']) }}">
                <true>
                    <br><input type="checkbox" value="{{ @activity }}"
                               name="indoor[]" checked="checked"> {{ @activity }}
                </true>
                <false>
                    <br><input type="checkbox" value="{{ @activity }}"
                               name="indoor[]" > {{ @activity }}
                </false>
            </check> -->

            <br><input type="checkbox" value="{{ @activity }}"
                       name="indoor[]" > {{ @activity }}

        </repeat>

    </label>
    <check if="{{ isset(@errors['indoor']) }}">
        <p>{{ @errors['indoor']}}</p>
    </check><br><br>


    <legend>Outdoor Interests</legend>
    <label>
        <repeat group="{{ @outdoor }}" value="{{ @activity }}">

            <!-- <check if="{{ isset(@SESSION['outdoor']) }}">
                <true>
                    <br><input type="checkbox" value="{{ @activity }}"
                               name="outdoor[]" checked="checked"> {{ @activity }}
                </true>
                <false>
                    <br><input type="checkbox" value="{{ @activity }}"
                               name="outdoor[]" > {{ @activity }}
                </false>
            </check> -->

            <br><input type="checkbox" value="{{ @activity }}"
                       name="outdoor[]" > {{ @activity }}
        </repeat>
    </label><br>
    <check if="{{ isset(@errors['outdoor']) }}">
        <p>{{ @errors['outdoor']}}</p>
    </check><br><br>

    <button name="submit">Next</button>
</form>




</body>
</html>