<!DOCTYPE html>
<html lang="en">
<head>
    <!--

       Author Name: Samantha Gabriel
       Date: February 2, 2019
       File Name: personal-information.html

       This is the personal information page for the Dating Website
       registration process.

       References:

       https://getbootstrap.com/docs/4.2/getting-started/introduction/

    -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Personal Information</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar bg-light navbar-light">
    <p>My Dating Website</p>
</nav>

<div class="container-fluid">

    <!-- Page header -->
    <h1 class="mt-4">Personal Information</h1>

    <hr>

    <!-- Personal information form -->
    <!-- Referred to Bootstrap documentation for help on form groups -->
    <form action="#" method="post" class="mt-4">

    <div class="row mb-4">

        <div class="col-1"></div>

        <div class="col-6">
            <!-- First name field -->
            <div class="form-group">
                <label class="font-weight-bold">First Name:</label><br>
                <div class="input-group">
                    <input type="text" class="form-control" name="fname" id="fname"
                           value="{{ @SESSION['fname'] }}">
                    <!-- Referred to Bootstrap documentation regarding how to append an icon to a field -->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                    </div>
                </div>
                <!-- Field validation error -->
                <check if="{{ isset(@errors['fname']) }}">
                    <p>{{ @errors['fname']}}</p>
                </check>
            </div>

            <!-- Last name field -->
            <div class="form-group">
                <label class="font-weight-bold">Last Name:</label><br>
                <input type="text" class="form-control" name="lname" id="lname" value="{{ @SESSION['lname'] }}">
                <!-- Field validation error -->
                <check if="{{ isset(@errors['lname']) }}">
                    <p>{{ @errors['lname']}}</p>
                </check>
            </div>

            <!-- Age field -->
            <div class="form-group">
                <label class="font-weight-bold">Age:</label><br>
                <input type="text" class="form-control" name="age" id="age" value="{{ @SESSION['age'] }}">
                <!-- Field validation error -->
                <check if="{{ isset(@errors['age']) }}">
                    <p>{{ @errors['age']}}</p>
                </check>
            </div>

            <!-- Gender field -->
            <!-- Referred to Bootstrap documentation regarding
                formatting radio buttons -->
            <div class="form-group form-check">
                <label class="font-weight-bold">Gender:</label><br>
                <repeat group="{{ @gender }}" value="{{ @value }}">
                    <!-- Makes field sticky -->
                    <check if="{{ @genderChoice == @value }}">
                        <true>
                            <input class="form-check-input" type="radio" value="{{ @value }}"
                                   name="gender" checked="checked">
                            <label class="form-check-label ml-2 mr-4">
                                 {{ @value }}</label>
                        </true>
                        <false>
                            <input class="form-check-input" type="radio" value="{{ @value }}" name="gender">
                            <label class="form-check-label ml-2 mr-4">
                                {{ @value }}</label>
                        </false>
                    </check>
                </repeat>
            </div>

            <!-- Phone number field -->
            <div class="form-group">
                <label class="font-weight-bold">Phone Number: </label><br>
                <input type="text" class="form-control" name="phone" id="phone"
                       value="{{ @SESSION['phone'] }}" placeholder="5551234567">
                <!-- Field validation error -->
                <check if="{{ isset(@errors['phone']) }}">
                    <p>{{ @errors['phone']}}</p>
                </check>
            </div>
        </div>

        <!-- Page notice -->
        <div class="col-4">
            <!-- Referred to Bootstrap documentation regarding alerts -->
            <p class="alert alert-secondary">Note: All information entered is protected by our
                <a href="#">privacy policy</a>. Profile information can only be viewed by others with
                your permission.</p><br>
        </div>
    </div>

    <div class="row">
        <!-- Submit button -->
        <div class="col-11">
            <button class="btn btn-primary float-right mb-4" name="submit">Next ></button>
        </div>
    </div>

    </form>
</div>

</body>
</html>