<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>Personal Information</title>
</head>
<body>

<h1>Personal Information</h1>

<form action="#" method="post">
    <label>First Name:
        <input type="text" size="20" maxlength="20"
               name="fname" id="fname" value="{{ @SESSION['fname'] }}">
    </label><br>
    <check if="{{ isset(@errors['fname']) }}">
        <p>{{ @errors['fname']}}</p>
    </check><br><br>
    <label>Last Name:
        <input type="text" size="20" maxlength="20"
               name="lname" id="lname" value="{{ @SESSION['lname'] }}">
    </label><br>
    <check if="{{ isset(@errors['lname']) }}">
        <p>{{ @errors['lname']}}</p>
    </check><br><br>

    <label>Age:
        <input type="text" size="20" maxlength="20"
               name="age" id="age" value="{{ @SESSION['age'] }}">
    </label><br>
    <check if="{{ isset(@errors['age']) }}">
        <p>{{ @errors['age']}}</p>
    </check><br><br>

    <legend>Gender</legend>
    <label><repeat group="{{ @gender }}" value="{{ @value }}">
        <input type="radio" value="{{ @value }}" name="gender"
                      id="gender">&nbsp;{{ @value }}<br>
    </repeat>
    </label>


    <br><br>

    <label>Phone Number (i.e. 5551234567):
        <input type="text" size="20" maxlength="20"
               name="phone" id="phone" value="{{ @SESSION['phone'] }}">
    </label><br>
    <check if="{{ isset(@errors['phone']) }}">
        <p>{{ @errors['phone']}}</p>
    </check><br><br>

    <p>Note: All information entered is protected by our privacy policy. Profile information
        can only be viewed by others with your permission.</p><br>

    <button name="submit">Next</button>
</form>

</body>
</html>