<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
</head>
<body>

<h1>Personal Information</h1>

<form action="#" method="post">
    <label>First Name:
        <input type="text" size="20" maxlength="20"
               name="fname" id="fname">
    </label><br>
    <check if="{{ isset(@errors['fname']) }}">
        <p>{{ @errors['fname']}}</p>
    </check><br><br>
    <label>Last Name:
        <input type="text" size="20" maxlength="20"
               name="lname" id="lname">
    </label><br>
    <check if="{{ isset(@errors['lname']) }}">
        <p>{{ @errors['lname']}}</p>
    </check><br><br>

    <label>Age:
        <input type="text" size="20" maxlength="20"
               name="age" id="age">
    </label><br>
    <check if="{{ isset(@errors['age']) }}">
        <p>{{ @errors['age']}}</p>
    </check><br><br>

    <label><input type="radio" value="male" name="gender" checked="checked">
        Male</label><br>
    <label><input type="radio" value="female" name="gender" >
        Female</label><br><br>

    <label>Phone Number:
        <input type="text" size="20" maxlength="20"
               name="phone" id="phone">
    </label><br><br>

    <p>Note: All information entered is protected by our privacy policy. Profile information
        can only be viewed by others with your permission.</p><br>

    <button>Next</button>
</form>

</body>
</html>