<!DOCTYPE html>
<html lang="en">
<head>
    <!--

      Author Name: Samantha Gabriel
      Date: February 2, 2019
      File Name: profile.html

      This is the profile page for the Dating Website
      registration process.

      References:

      https://getbootstrap.com/docs/4.2/getting-started/introduction/

    -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>My Profile</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar bg-light navbar-light">
    <!-- Navigation menu items -->
    <p>My Dating Website</p>

    <div class="navbar-nav align-items-right">
        <a class="nav-item nav-link mr-4" href="#">Admin Page</a>
    </div>
</nav>

<div class="container-fluid">

    <!-- Page header -->
    <h1 class="mt-4">Profile</h1>

    <hr>

    <!-- Profile form -->
    <form action="#" method="post">

    <div class="row mb-4">

        <div class="col-1"></div>

        <div class="col-5">
            <!-- Email address field -->
            <div class="form-group">
                <label class="font-weight-bold">Email Address:</label><br>
                <input type="text" class="form-control" name="email" id="email" value="{{ @SESSION['email'] }}">
            </div>

            <!-- Location field -->
            <div class="form-group">
                <label class="font-weight-bold">State:</label><br>
                <select name="state" id="state" class="form-control">
                    <option value="">Select a State</option>
                    <!-- Makes field sticky -->
                    <repeat group="{{ @states }}" key="{{ @state }}" value="{{ @value }}">
                        <check if="{{ @value == @stateChoice }}">
                            <true>
                                <option value="{{ @state }}" selected="selected">{{ @value }}</option>
                            </true>
                            <false>
                                <option value="{{ @state }}">{{ @value }}</option>
                            </false>
                        </check>
                    </repeat>
                </select>
            </div>

            <!-- Field for gender preference -->
            <div class="form-group form-check">
                <label class="font-weight-bold">Seeking: </label><br>
                <repeat group="{{ @seeking }}" value="{{ @value }}">
                    <!-- Makes field sticky -->
                    <check if="{{ @seekingChoice == @value }}">
                        <true>
                            <input type="radio" value="{{ @value }}" name="seeking" checked="checked">
                            <label class="ml-2 mr-4">{{ @value }}</label>
                        </true>
                        <false>
                            <input type="radio" value="{{ @value }}" name="seeking">
                            <label class="ml-2 mr-4">{{ @value }}</label>
                        </false>
                    </check>
                </repeat>
            </div>
        </div>

        <!-- Biography field -->
        <!-- Referred to Bootstrap documentation regarding form text areas -->
        <div class="col-5">
            <div class="form-group">
                <label class="font-weight-bold">Biography:</label><br>
                <textarea class="form-control" name="bio" id="bio" rows="3">{{ @SESSION['bio'] }}</textarea>
            </div>
            <br><br>

            <!-- Submit button -->
            <button class="btn btn-primary float-right" name="submit">Next ></button>
        </div>
    </div>

    </form>

</div>

</body>
</html>