<!-- https://gist.github.com/maxrice/2776900-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>My Profile</title>
</head>
<body>

<h1>Profile</h1>

<form action="#" method="post">
    <label>Email Address:
        <input type="text" size="30" maxlength="30"
               name="email" id="email" value="{{ @SESSION['email'] }}">
    </label><br><br>

    <legend>State:
    <select name="state" id="state">
        <repeat group="{{ @states }}" key="{{ @state }}" value="{{ @value }}">
            <check if="{{ @value == @stateChoice }}">
                <true>
                    <option value="{{ @state }}" selected="selected">{{ @value }}</option><br>
                </true>
                <false>
                    <option value="{{ @state }}">{{ @value }}</option><br>{{ @value }}<br>
                </false>
            </check>

        </repeat>
    </select></legend><br><br>

    <legend>Seeking</legend>
    <label><repeat group="{{ @seeking }}" value="{{ @value }}">
        <check if="{{ @seekingChoice == @value }}">
            <true>
                <input type="radio" value="{{ @value }}" name="seeking" checked="checked">
                {{ @value }}<br>
            </true>
            <false>
                <input type="radio" value="{{ @value }}" name="seeking">
                {{ @value }}<br>
            </false>
        </check>
    </repeat>
    </label><br><br>

    <label>Biography:<br>
        <textarea rows="5" cols="100" name="bio"
                  id="bio">{{ @SESSION['bio'] }}</textarea>
    </label><br><br>

    <button name="submit">Next</button>
</form>

</body>
</html>