<!DOCTYPE html>
<html lang="en">
<head>
    <!--

       Author Name: Samantha Gabriel
       Date: February 2, 2019
       File Name: summary.html

       This is the profile summary page for the Dating Website

       References:

       Greasemann [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons

    -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Profile Summary</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar bg-light navbar-light">
    <!-- Navigation menu items -->
    <p>My Dating Website</p>

    <div class="navbar-nav align-items-right">
        <a class="nav-item nav-link mr-4" href="admin">Admin Page</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row mt-4 mb-4">

        <div class="col-1"></div>

        <!-- Displays a summary of the user's entries -->
        <div class="col-5">
            <ul class="list-group">
                <li class="list-group-item">Name: {{ @SESSION['fname'] }} {{ @SESSION['lname'] }}</li>
                <li class="list-group-item">Gender: {{ @SESSION['gender'] }}</li>
                <li class="list-group-item">Phone Number: {{ @SESSION['phone'] }}</li>
                <li class="list-group-item">Email: {{ @SESSION['email'] }}</li>
                <li class="list-group-item">State: {{ @SESSION['state'] }}</li>
                <li class="list-group-item">Seeking: {{ @SESSION['seeking'] }}</li>
                <check if="{{ isset(@SESSION['premium']) }}">
                    <li class="list-group-item">Interests:
                        <repeat group="{{ @SESSION['indoor'] }}" value="{{ @activity }}">
                            {{ @activity }}
                        </repeat>
                        <repeat group="{{ @SESSION['outdoor'] }}" value="{{ @hobby }}">
                            {{ @hobby }}
                        </repeat>
                    </li>
                </check>
            </ul>
        </div>

        <div class="col-4 text-center">
            <!-- Default avatar and user biography -->
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
                 class="img rounded" alt="avatar" id="avatar">
            <p class="text-left mt-4">Biography: {{ @SESSION['bio'] }}</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Contact button -->
        <button class="btn btn-primary btn-lg" name="submit">Contact Me!</button>
    </div>
</div>

</body>
</html>