@charset "utf-8";

/* This file contains CSS for the dating website */

/*

   Author Name: Samantha Gabriel
   Date: January 18, 2019
   File name: styles.css

*/

/* Image ID styles */
#couple {

    height: 100%;
    width: 100%;
}

#avatar {

    height: 300px;
    width: 300px;
}

/* Span ID styles */
#name {

    font-weight: bold;
}

/* Paragraph ID styles */
#quotes {

    font-style: italic;
}

/* Class Styles */
.top {

    margin-top: 5%;
}

/* Table Styles */
table {
    border: 1px solid;
    border-collapse: collapse;
}

tr > th, td {
    border: black 1px solid;
    padding: 10px;
    text-align: center;
}