@charset "utf-8";

/* This file contains CSS for the dating website */

/*

   Author Name: Samantha Gabriel
   Date: January 18, 2019
   File name: styles.css

*/

/* Image ID styles */
#couple {

    height: 100%;
    width: 100%;
}

/* Span ID styles */
#name {

    font-weight: bold;
}

/* Paragraph ID styles */
#quotes {

    font-style: italic;
}

/* Class Styles */
.top {

    margin-top: 8%;
}